/* step two, set up up global CSS variables */
@import url('https://fonts.googleapis.com/css?family=Oswald|Rambla|Staatliches&display=swap');

body{
    margin: 0;
    padding: 0;
}



:root{
    --color-primary:#DF928E; 
    --color-secondary:#C58882;
    --color-border:black;
    --font-staat: 'Staatliches', cursive;
    --font-os:  'Oswald', sans-serif;
    --font-ram: 'Rambla', sans-serif;
}

/* global classes */ 
/* different size fonts and background */
.font-staat{
    font: normal 400 18px var(--font-staat);
}
.font-os{
    font: normal 300 18px var(--font-os);
}
.font-ram{
    font: normal bold 18px var(--font-ram);
}

.font-size-40{
    font-size: 40px;
}
.font-size-34{
    font-size: 34px;
}
.font-size-27{
    font-size: 27px;
}
.font-size-20{
    font-size: 20px;
}
.font-size-16{
    font-size: 16px;
}

.font-size-50{
    font-size:50px;
}

.bgcolor-primary{
    background-color: var(--color-primary);
}

.font-pink-section{
    color: var(--color-secondary);

}

.font-size-70{
    font-size: 70px
}

.font-size-100{
    font-size: 100px;
}

a {
    color:black;
    background-color: transparent;
    text-decoration: none;
  }

  a:hover {
      color: var(--color-secondary);
  }

  .social-icon{
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }

     /* styling icons */
  .fa-html5{
      color: #e34c26;
      font-size: 5em;
  }

  .fa-bootstrap{
      color:#7c4bcb;
      font-size:5em;
  }

  .fa-css3-alt{
      color:#264de4;
      font-size: 5em;
  }

  .fa-js-square{
      color:#f0db4f;
      font-size: 5em;
  }



  /* .social-icon:hover{
      color: var(--color-secondary)
  } */

  

/* #global classes */
 /* step four, add header CSS */
#header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index:1;
    transition: left .5s ease;
}

#header nav{
    height: 100vh;
}
#header .site-title .navbar-brand{
    letter-spacing: 2px;
    color: var(--color-secondary);
}

#header .nav-link{
    margin: .7rem 1rem;
    border-bottom: 1px solid var(--color-border);
    text-transform: uppercase;
}

#header .nav-link:hover{
    color: var(--color-secondary) !important;
}

#header .toggle-button{
    background: none;
    color: var(--color-secondary);
    position: fixed;
    top: 25px;
    right: 20px;
    border: 1px solid var(--color-border);
}

.toggle-left{
    left: 0 !important;
    width: 1000px !important;
}

/* site-main */
#home {
    /* background: url(./assets/code.jpg); */
    background-size: cover;
    background-color: #EAD2AC;
  

}



/* this area is where my name and picture is at  */
.site-banner .banner-area{
    
    width: 100%;
    height: 100vh;
    position: relative;
}

.site-banner .banner-area .author{
    margin: 0;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

/* this is where the dimensions of my image is located  */
.site-banner .banner-area .author .author-img{
    width: 180px;
    height: 240px;
    border-radius:20%;
    margin: auto;
    background: url(./assets/headshot1.jpg) no-repeat;
    background-size: 100%;
    background-position: 80% 0;
   
}

.card-img:hover{
opacity: .5;
}

@media screen and (min-width: 768px){
    .toggle-button{
        display: none;
    }
    #header{
        z-index:0;
    }
}

/* #site-main */